<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117096685903-85ehttd7vnljr0s15umrav8h916ot07u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117096685903-85ehttd7vnljr0s15umrav8h916ot07u</string>
	<key>API_KEY</key>
	<string>AIzaSyDM1RcVqaoCGbmI7ZirTM08FIjMNxPtH_g</string>
	<key>GCM_SENDER_ID</key>
	<string>117096685903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vyatsu.examTraining</string>
	<key>PROJECT_ID</key>
	<string>examtraining-73c9b</string>
	<key>STORAGE_BUCKET</key>
	<string>examtraining-73c9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117096685903:ios:0fe04b96dfbf80e76de53a</string>
</dict>
</plist>